<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/oshihabi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/oshihabi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Oshi_Habit"
        tools:targetApi="31">
        <activity
            android:name=".EditActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".MyHabitActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"/>
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".HabitListActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1123489925024997~1914510024" />
        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>